
{% extends 'base.html' %}
{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}Funymous{% endblock %}

    {% block css %}
    <link rel="stylesheet" href="{% static 'css/linegraph.css'%}">
    <link rel="stylesheet" href="{% static 'css/anonymous.css'%}">
    {% endblock  %}
</head>



<body>
    {% block body %}
        <div class='msg-body'>
        <center>
            <div class='msg-wrapper'>

            {% comment %} <div align="right"><div  class='msgs'>wfwf</div></div>
            <div><div class='msgs'>wfwf</div></div> {% endcomment %}
            {% for msg in data %}
                <div style="background-color:{{msg.color}};" class='msgs'>{{msg.text}}<input hidden type='text' value="{{msg.fullPosted}}"><span class='date'>{{msg.posted}}</span></div></>
            {% endfor %}
            <div class='margintop' id='appender'>..</div>
            <div>
                
        </center>       
            <form id='msgForm' method='POST'>
                {% csrf_token %}
                <textarea name='msg'></textarea>
                <input type='submit' value='Submit' >
            </form>
        </div>
        
    {% endblock %}

    {% block script %}
        <script src="{% static "js/jquery-3.6.0.min.js"%}"></script>
        {% comment %} <script src="{% static "js/anonymous.js"%}"></script> {% endcomment %}
        <script>
           function checkNwMsg(){
                $.ajax({
                    type: "GET",
                    url: "{% url 'updateAnonymous' %}",
                    data: {
                        'lastDate': $('.msgs input:last').val(),
                        },
                    contentType: 'application/json',
                    dataType: 'json',
                    error: function(request, error) {
                       console.log('An error has occured ')
                        },
                    success: function(data) {
                        //This function make sure that the ajax doesnt write an empty string to the website 
                        if (data.data.length >= 1) {
                            for (i = 0; i < data.data.length; i++) 
                            {
                                msg_to_append = $(`<div><div style="background-color:{{color}};" class='msgs'>${data.data[i]['text']}<input hidden type='text' value="${data.data[i]['fullPosted']}"><span class='date'>${data.data[i]['posted']}</span></div></div>`);
                                msg_to_append.insertBefore($("#appender")).fadeIn('slow');
                                alert(data.data[i]['text'])
                            }
                            
                        }
                        console.log(data)
                    }
                });
            }
            setInterval(checkNwMsg,5000)
            </script>
    {% endblock %}
    
</body>


</html>