{% extends 'base.html' %}
{% load static %}


{% block title %}Home{% endblock %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/linegraph.css'%}">
{% endblock  %}


{% block body %} 
    <div id='homegrid'>
        <div id='homegridtext'>

            <h2>Plot graphs with ease and accuracy</h2>
            <p>With us, you dont have to worry about time loss, inaccuracies, and rough graph plots. <br>Pick one of your graph options to get started</p>
       
                <figure class='graphs'>
                    <a href="{% url 'linegraph' %}">
                <img src="{%static 'img/linechart.jpg'%}" alt="linechart">
                <figcaption>Draw Line Chart</figcaption></a>
                 </figure>
     
        
                <figure class='graphs'>
                <img src="{%static 'img/3dpiechart.png'%}" alt="3dpiechart">
                <figcaption>Draw Pie Chart</figcaption>
                </figure>
     
                    <figure  class='graphs'>
                <img src="{%static 'img/histogramchart.png'%}" alt="linechart">
                <figcaption>Draw Histogram Chart</figcaption>
              </figure>
          
            {% comment %} <div class='graphs'>s</div> {% endcomment %}
        </div>
    </div>
{% endblock  %}

   


    
{% block script %} 
   <script src='{% static "js/home.js"%}'></script>
{% endblock  %}