:root {
    --background: beige;
    --brown: rgb(253 142 4);
}

.inptNum {
    width: 4em;
}

body {
    padding: 0px;
    margin: 0px;
}

td {
    text-align: center;
    background-color: antiquewhite;
}

#GPHheader {
    background-color: rgb(250, 214, 167);
}

.nav {
    background-color: var(--background);
    margin-bottom: 20px;
    margin-top: 0px;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
}

.nav li {
    display: inline;
    margin-right: 20px;
    background-color: var(--background);
    width: 100%;
}

.nav li :hover {
    background-color: var( --brown);
    color: black;
}

.nav li :active {
    width: 100%;
    color: black;
    background-color: var( --brown);
}

.nav ul {
    padding: 0px;
    margin: 0px;
    text-align: right;
    z-index: 100;
    float: right;
}

#GRPHbx {
    margin: 0;
    width: 100%;
    /* overflow: hidden; */
}

#GRPHbx img {
    margin: 0;
    width: 100%;
}

.contain {
    position: relative;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    margin-bottom: 20px;
    margin-top: 70px;
}

#table_grid {
    align-items: center;
    grid-column: 1 / 2;
}

#grid_img {
    align-items: center;
    grid-column: 2 / 3;
}

#nav-toggle {
    display: none;
}

@media screen and (max-width:450px) {
    .contain {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    #grid_img {
        align-items: center;
        grid-row: 2 / 3;
        grid-column: 1/ 2;
    }
    .nav li {
        text-align: center;
        display: block;
    }
    .nav a {
        width: 100%;
        display: inline-block;
        margin: 0px 8px 0 8px;
        margin-bottom: 10px;
    }
    ul {
        padding: 0px;
        position: fixed;
        top: 37px;
        right: 0px;
        background-color: var(--background);
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 400ms ease-in-out;
    }
    #nav-toggle:checked~ul {
        display: block;
        transform: scale(1, 1);
        transform-origin: top;
        transition: transform 400ms ease-in-out;
    }
    #nav-toggle-label,
    #nav-toggle-label::before,
    #nav-toggle-label::after {
        padding: 0px;
        position: fixed;
        top: 20px;
        right: 0px;
        margin: 0;
        width: 100px;
        border-bottom: 2px solid var(--brown);
        position: absolute;
        content: '';
    }
    #nav-toggle-label:active {
        background-color: aqua;
    }
    #nav-toggle-label::before {
        top: -6px;
    }
    #nav-toggle-label::after {
        top: 6px;
    }
}

h2 {
    margin: 0px;
}

button {
    margin: 10px;
}

#hidden_numbers {
    margin: 5px;
}

footer {
    width: 100vw;
    position: fixed;
    bottom: 0px;
    left: 0;
    padding: 0px 10px 0px 10px;
    background-color: var(--background);
}

#points {
    float: left;
}

#call {
    float: right;
    position: relative;
    right: 20px;
}

form {
    text-align: right;
    width: 300px;
}

.scale,
.title {
    position: relative;
    right: calc(100% - 150px);
}

.scale input {
    width: 3em;
    margin: 5px;
}

.title input {
    width: 7em;
    margin: 0px 0 0px 0;
}

.err {
    background-color: rgb(247, 155, 155);
    padding: 20px;
    margin: 20px 20px 20px 0px;
    font-size: 1em;
}

.point {
    position: absolute;
    left: 0;
    display: block;
    padding: 10px;
    top: 30px;
    /* -webkit-transform: translateX(-50%);
    transform: translateX(-50%); */
    background-color: var(--background);
}