/* {
    % load static %
} */

body {
    margin: 0px;
    transition: all ease-in-out 500ms;
}

h2 {
    background-color: rgb(252, 182, 112);
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 3px;
}

#trans {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/static/img/login.jpg");
    height: 100vh;
    width: 100vw;
    opacity: 0.4;
}

#formbox {
    background-color: rgb(250, 214, 167);
    width: 100vw;
    min-width: 350px;
    max-width: 500px;
    position: absolute;
    top: calc(50vh - 120px);
    /* left: calc(50vw - 250px); */
    transition: all ease-in-out 500ms;
}

form input {
    margin: 10px;
    position: relative;
}

@media screen and (min-width:500px) {
    #formbox {
        left: calc(50vw - 250px);
    }
}

#submit {
    margin: 10px;
    padding: 5px;
    position: relative;
    background-color: rgb(252, 182, 112);
    box-shadow: 0px 4px 3px -2px rgba(0, 0, 0, 1);
}

#submit:active {
    transform: translateY(-10px);
    transition: transform 340ms;
    box-shadow: 0px 11px 8px -111px rgba(0, 0, 0, 1);
}

#labelaligner {
    width: 330px;
    text-align: right;
    margin: 10px;
}

.err {
    display: none;
    background-color: rgb(247, 0, 0, 0.3);
    animation-duration: 100ms;
    /* animation-name: flicker; */
    animation-direction: forwards;
}

.flicker {
    animation-name: flicker;
}

@keyframes flicker {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.cr {
    background-color: rgba(111, 247, 0, 0.3);
    float: right;
    display: none;
}

#user-err {
    display: inline-block;
}

.error {
    background-color: rgb(247, 0, 0, 0.3);
    display: inline;
}


/* #dis-br {
    display: none;
} */