{% extends 'base.html' %}
{% load static %}


{% block title %}Linegraph{% endblock  %}


{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/linegraph.css'%}">
{% endblock  %}


{% block body %}

    <div class="contain">
        <div id="table_grid">
            <center>
                <p>INPUT YOUR VALUES HERE</p>

                <table id="table" cellpadding="3" cellspacing="5">
                    <tr id="GPHheader">
                        <th>no</th>
                        <th>X</th>
                        <th>Y</th>
                    </tr>
                    {% for i in values %}
                    <tr><td>{{ i.index }}</td><td>{{i.X}}</td><td>{{i.Y}}</td><td><input value="edit" class="edit" type="button"></td></tr>
                    {% endfor %}
                    <tr id="UserInputs">
                        <td></td>
                        <td><input id="UserX" value="2" type="number" class="inptNum"></td>
                        <td><input id="UserY" value="1" type="number" class="inptNum"></td>
                        <td><input id="AddBtn" value="Add" type="button"></td>
                    </tr>
                </table>
            </center>

                <form action="" method='POST'>
                    {% csrf_token %}
                     <input id="hidden_numbers" type="text" name="hidden_numbers" id="">
                     <fieldset>
                        <legend>Titles</legend>
                        <label class="title"> Graph:<input required type="text" name="graph_title" ></label><br>
                        <label class="title">X:<input type="text" name="X_title" ></label><br>
                        <label class="title">Y:<input type="text" name="Y_title" ></label><br>
                    </fieldset>    
                    <fieldset>
                        <legend>Scales</legend>
                        <label class='scale'>X:<input required type="number"  name="X_scale" ></label>
                        <label class='scale'>Y:<input required type="number"  name="Y_scale" ></label>
                    </fieldset>
                    <button>Plot Graph</button>
                </form>
                
                <div class='{{class}}'>{{ error }}</div>
        
        </div>

        <div id="grid_img">

            <center>
                <p>IMAGE WILL BE DISPLAYED HERE</p>
            </center>
            
            <div id="GRPHbx"><img src="{% if imgs == None %}{%static 'img/emp_grph.jpg'%}{% else %}{{imgs}}{% endif %}" alt="File 2"></div>
           <center><div ="margin-bottom:30px">Slope of line of best fit is {% if slope == None %}...{% else %}{{slope}}{% endif %}</div></center>
        </div>

    </div>
{% endblock  %}


{% block script %}
    <script src='{% static "js/linegraph.js"%}'></script>
{% endblock  %}
    

